main{
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.calc{
    padding: 4em;
    background-color: rgb(210, 201, 211);
    border-radius: 3em;
    border-width: 1px;
    border-style: dashed;
    border-color: black;
}

.opera{
    line-height: 3em;
}

input{
    margin-top: 1em;
}

#resultado{
    text-decoration: underline;
    background-color: rgb(225, 192, 255);
    padding: 0.1em;
    border-width: 1px;
    border-style: solid ;
    border-color: gray;
}

#n1{
    width: 15em;
}

#n2{
    width: 15.2em;
}

button{
    transition: 0.5s;
    background-color: rgb(225, 192, 255);
    border-radius: 2em;
}

button:hover{
    background-color: rgb(140, 0, 255);
    box-shadow: 0 0 2em rgb(140, 0, 255);
    color: white;
}

h1{
    border-style: dotted;
    border-width: 5px;
    border-color: white ;
    width: 6.3em;
}